body {
    background-color: #F8F4E3;
    /* background-color: #1B1B1E; */
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
#wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 70px;
    /* border-bottom: solid 5px #1B1B1E; */
}

.nav-link {
    position: relative;
    display: inline-block;  /*Hover animation*/
    padding-bottom: 3px;
    bottom: 20px;
    font-family: 'Charis SIL', serif;
    margin: 0px 30px 0px;
    color: #1B1B1E;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1B1B1E;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


#logo {
    position: relative;
    bottom: 20px;
    font-family: 'Charis SIL', serif;
    font-size: 45pt;
    color: #1B1B1E;
}

#logo:hover {
    position: relative;
    bottom: 20px;
    font-family: 'Charis SIL', serif;
    font-size: 45pt;
    color: #1B1B1E;
    cursor: pointer;
}