body {
    /* background-color: #F8F4E3; */
    /* background-color: #D8DBE2; */
    background-color: #D8DBE2;
    font-family: 'Charis SIL', serif;
    margin: 0px;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    /* color: inherit; */
}
#nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 90px;
    background-color: #1B1B1E;
    border-radius: 0px 0px 20px 20px;
    /* border-bottom: solid 5px #1B1B1E; */
}

.nav-link {
    position: relative;
    display: inline-block;  /*Hover animation*/
    padding-bottom: 3px;
    bottom: 18px;
    font-family: 'Charis SIL', serif;
    font-size: 20px;
    /* font-weight: bold; */
    margin: 0px 30px 0px;
    color: #D8DBE2;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #D8DBE2;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


#logo {
    position: relative;
    bottom: 10px;
    font-family: 'Charis SIL', serif;
    font-size: 45pt;
    color: #D8DBE2;
    padding-left: 20px;
}

#logo:hover {
    position: relative;
    bottom: 10px;
    font-family: 'Charis SIL', serif;
    font-size: 45pt;
    color: #D8DBE2;
    cursor: pointer;
}
.quote-container {
    /* border: solid #1B1B1E; */
    border-radius: 20px;
    /* background-color: #373F51; */
}
#home-quote-flex-container {
    display: flex;
    justify-content: center;
}
#home-quote-container {
    position: relative;
    padding: 10px;
    top: 30vh;
    height: 30vh;
    width: 90vw;
    font-family: 'Joan', serif;
    font-weight: 400;
    font-size: 55px;
    color: 1B1B1E;
}
.speaker {
    font-family: 'Joan', serif;
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    padding-left: 100px;
    padding-top: 35px;
}
.hidden {
    opacity: 0%;
    transition-property: opacity;
    transition-duration: 0.9s;
    transition-timing-function: ease-in;
}
.reveal {
    opacity: 100%;
    transition-property: opacity;
    transition-duration: 0.9s;
    transition-timing-function: ease-in;
}
/* ------------------myQuotes specific styling----------------- */
#control-bar {
    border: solid cornflowerblue;
    /* height: 40px; */
    height: 5vh;
    margin: 65px 35px 10px;
}
#my-quotes-container {
    border: solid green;
    /* height: 510px; */
    height: 68vh;
    margin: 20px 35px 0px;
    /* margin-left: 15px;
    margin-right: 15px; */
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.control-bar {
    font-family: 'Charis SIL', serif;
    font-size: 24pt;
    font-weight: bold;
}
#control-bar-header {
    display: inline;
}
#filter-form {
    display: inline;
    margin: 10px 0px;
}
#control-bar-flex-container {
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
}
#inputs-flex-container {
    border: solid;
    width: 30vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}
header {
    border: solid ;
}
#add-quote-button {
    font-family: 'Helvetica', serif;
    font-size: 24pt;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    background-color: #373F51;
    color: #D8DBE2;
    height: 50px;
    border: none;
}
#add-quote-button:hover {
    font-family: 'Helvetica', serif;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    background-color: #444e64;
    color: #D8DBE2;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%; 
    height: 100%;
    padding-top: 7%;
    background-color: rgba(0,0,0,0.4);
    transition-duration: .5s;
}
.modal-content {
  background-color: #D8DBE2;
  margin: auto;
  position: relative;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 17%;
  height: 40%;
  text-align: center;
}
.close {
    position: absolute;
    float: right;
    right: 20px;
    top: 5px;
    font-size: 32px;
    /* border: solid; */
}
.close:hover {
    position: absolute;
    float: right;
    right: 20px;
    top: 5px;
    font-size: 32px;
    cursor: pointer;
    /* border: solid; */
}
h2 {
    font-size: 36px;
    color: #1B1B1E;
}
h3 {
    font-size: 20px;
    color: #1B1B1E;
}
#quote-input-container {
    /* border: solid; */
    position: relative;
    text-align: left;
    color: #1B1B1E;
}
#quote-input {
    display: block;
    resize: none;
    height: 4em;
    padding: 0px;
    /* line-height: 4em; */
}
#speaker-input {
    display: block;
    resize: none;
    height: 24px;
    padding: 0px;
}
textarea {
    font-family: Helvetica;
    border: solid 1px #1B1B1E;
    border-radius: 3px;
    width: 100%;
    background-color: #eceef2;
}
#quote-label {
    text-align: left;
}
.quote-input-label {
    margin-bottom: 0px;
}
input {
    width: 100%;
}
#button-flex-container {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 25px;
}
#submit-quote {
    font-family: 'Helvetica', serif;
    font-size: 15pt;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    border-color: #A9BCD0;
    background-color: #eceef2;
    color: #1B1B1E;
    height: 50px;
    font-weight: 600;
}
#submit-quote:hover {
    font-family: 'Helvetica', serif;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    background-color: #A9BCD0;
    color: #1B1B1E;
    cursor: pointer;
    transition-duration: 0.3s;
}
.quote-card {
    /* border: solid 2px; */
    position: relative;
    border-radius: 15px;
    text-align: center;
    font-size: 13pt;
    width: 16%;
    height: 45%;
    margin: 5px;
    padding-bottom: 5px;
    background-color: #A9BCD0;
    color: #1B1B1E;
}
.quote-card:hover .card-close {
    display: inline;
    position: absolute;
    right: 10px;
}
.card-close {
    display: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
}
.quote-content {
    padding: 10px;
}
.speaker-content {
    font-style: italic;
}
.speaker-p {
    margin-top: 0px;
}
.quote-words-content {
    margin-bottom: 2px;
}

