body {
    /* background-color: #F8F4E3; */
    /* background-color: #D8DBE2; */
    font-family: 'Charis SIL', serif;
    margin: 0px;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
#wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 90px;
    /* background-color: #A9BCD0; */
    border-radius: 0px 0px 20px 20px;
    /* border-bottom: solid 5px #1B1B1E; */
}

.nav-link {
    position: relative;
    display: inline-block;  /*Hover animation*/
    padding-bottom: 3px;
    bottom: 10px;
    font-family: 'Charis SIL', serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 30px 0px;
    color: #1B1B1E;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1B1B1E;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


#logo {
    position: relative;
    bottom: 10px;
    font-family: 'Charis SIL', serif;
    font-size: 45pt;
    color: #1B1B1E;
    padding-left: 8px;
}

#logo:hover {
    position: relative;
    bottom: 10px;
    font-family: 'Charis SIL', serif;
    font-size: 45pt;
    color: #1B1B1E;
    cursor: pointer;
}
.quote-container {
    border: solid #1B1B1E;
    border-radius: 10px;
}
#home-quote-flex-container {
    display: flex;
    justify-content: center;
}
#home-quote-container{
    position: relative;
    top: 15vh;
    height: 70vh;
    width: 90vw;
}